.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  visibility: hidden;
  border-radius: 8px;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__content {
  background-color: white;
  position: relative;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  padding: 28px 28px 36px 28px;
  margin: auto;
  border-radius: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.modal__close-btn {
  background-color: transparent;
}
.modal__label {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 24px;
}
.modal__label_type_radio {
  padding: 0;
  gap: 8px;
  opacity: 0.5;
}
.modal__label_type_radio:has(.modal__radio-input:checked) {
  opacity: 1;
}
.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding-top: 8px;
}

.modal__radio {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 0 32px 0;
}
.modal__radio-input {
  margin-right: 8px;
}
.modal__legend {
  padding-bottom: 12px;
}
.modal__submit {
  background-color: black;
  color: white;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
}
.modal__submit:hover {
  opacity: 0.6;
}
