.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__confirmation {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
}
.modal__cancel-btn {
  border: none;
  background-color: transparent;
  color: black;
}
.modal__delete-btn {
  border: none;
  background-color: transparent;
  color: #ff4d00;
}
