.card {
  width: 323px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__name {
  margin: 0;
  position: absolute;
  top: 15px;
  font-size: 16px;
  line-height: 20px;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px 2px 12px;
}
.card__image {
  width: 100%;
  border-radius: 8px;
}

.card__like-button {
  background: url(../../assets/heart-unliked.svg) no-repeat center;
  background-size: contain;
  border: none;
  width: 18px;
  height: 15px;
  position: absolute;
  right: 111px;
  top: 20px;
  cursor: pointer;
}

.card__like-button_liked {
  cursor: pointer;
  background: url(../../assets/heart-liked.svg) no-repeat center;
  background-size: contain;
  border: none;
  width: 18px;
  height: 15px;
  position: absolute;
  right: 111px;
  top: 20px;
}
