.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 40px 28px 40px;
}

.header__logo {
  margin-right: 24px;
}

.header__details {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 20px;

  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 100%;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.header__username {
  margin: 0;
  font-size: 20px;
  line-height: 100%;
}

.header__link {
  text-decoration: none;
  color: black;
}
.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}
.header__sign-up-btn {
  border: none;
  cursor: pointer;
}
.header__log-in-btn {
  border: none;
  cursor: pointer;
}
